<div class="container">
    <ng-container *ngIf="productsList$ | async as result" [ngSwitch]="result.dataState">
        <ng-container *ngSwitchCase="DataStateEnum.LOADING">
            Loading ...
        </ng-container>
        <ng-container *ngSwitchCase="DataStateEnum.LOADED">
            <table class="table">
                <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Available</th>
                    <th>Selected</th>
                    <td>Delete</td>
                </thead>
                <tbody>
                    <app-product-item *ngFor="let p of result.data"></app-product-item>
                </tbody>
            </table>
        </ng-container>
        <ng-container *ngSwitchCase="DataStateEnum.ERROR">
            <div class="alert alert-danger">
                {{result.errorMessage}}
            </div>
        </ng-container>
    </ng-container>
</div>