<nav class="navbar navbar-expand-sm bg-light navbar-light d-flex justify-content-around">
    <ul class="navbar navbar-nav ml-2">
        <li>
            <button (click)="onGetAllProducts()" class="btn btn-sm btn-outline-info ml-3">All</button>
        </li>
        <li>
            <button (click)="onGetSelectedProducts()" class="btn btn-sm btn-outline-info ml-3">Selected</button>
        </li>
        <li>
            <button (click)="onGetAvailableProducts()" class="btn btn-sm btn-outline-info ml-3">Available</button>
        </li>
        <li>
            <button (click)="onNewProduct()" class="btn btn-sm btn-outline-info ml-3">New</button>
        </li>
    </ul>

    <ul class="navbar navbar-nav ml-auto">
        <li>
            <form #f="ngForm" (ngSubmit) = "onSearch(f.value)" class="form-inline">
                <input ngModel name="keyword" type="text">
                <button type="submit" class="btn btn-sm btn-outline-info ml-5">
                    <span class="fa fa-search"></span>
                </button>
            </form>
        </li>

    </ul>
</nav>